name: pull_request
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.3
      - name: Install dependencies
        run: go mod download
      - name: Execute tests
        run: go test ./...
